:root {
  --bg-color: #0a0a0a;
  --card-bg: #000000;
  --accent-blue: #0055ff;
  --text-main: #ffffff;
  --text-muted: #888888;
  --border-color: #1a1a1a;
  --success-color: #4caf50;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-main);
}

.card {
  width: 100vw;
  max-width: 400px;
  height: 700px;
  padding: 2rem;
  text-align: center;
}

.header {
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header h1 {
  font-size: 1.05rem;
  letter-spacing: 1px;
}

.header p {
  color: var(--text-muted);
  font-size: 0.9rem;
}
.logo-placeholder{
  background-image: url(../../../../assets/vexio.png);
  width: 80px;
  height: 50px;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 140px;
  width: auto;
  height: auto;
}
.input-group {
  position: relative;
  text-align: left;
  margin-bottom: 1.5rem;
}

.input-group label {
  display: block;
  position: absolute;
  top: 0px;
  transform: translate(3px, -17px);
  z-index: 100;
  font-size: 0.75rem;
  color: var(--text-muted);
  margin-bottom: 0.5rem;
}

.input-wrapper {
  border: 1px solid var(--border-color);
  background: #050505;
  border-radius: 4px;
}


.input-wrapper input {
  width: 100%;
  background: transparent;
  border: none;
  padding: 12px;
  color: white;
  outline: none;
}

.eye-icon {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border-radius: 50%;
  border: none;
  color: var(--text-muted);
  cursor: pointer;
}

button:focus{
  outline: none;
  color: var(--accent-blue)
}

.requirements-box {
  background: #080808;
  border: 1px solid var(--border-color);
  padding: 1rem;
  text-align: left;
  border-radius: 4px;
  margin-bottom: 2rem;
}

.req-title {
  font-size: 0.65rem;
  color: var(--text-muted);
  margin-bottom: 0.8rem;
}

.requirements-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.requirements-box li {
  font-size: 0.75rem;
  color: var(--text-muted);
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.requirements-box li.met {
  color: var(--text-main);
}

.check-circle {
  margin-right: 10px;
  font-size: 1rem;
}

.submit-btn {
  width: 100%;
  background-color: var(--accent-blue);
  color: rgb(255, 255, 255);
  border: none;
  padding: 1rem;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: opacity 0.2s;
}

.submit-btn:hover {
  opacity: 0.9;
}

.footer a {
  display: block;
  margin-top: 2rem;
  color: var(--text-muted);
  text-decoration: none;
  font-size: 0.75rem;
}