* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ocultar el ojo nativo del navegador en TODOS los inputs de contraseña */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none !important;
}

body {
  width: 100%;
  min-height: 100vh;
}

.main-container {
  width: 100%;
  min-height: 100vh;
}